body{
    background-color: var(--laranja);
}
header{
    display: flex;
    justify-content: center;
}
.titulo{
    background-color: var(--marrom);
    height: 100px;
    width: 100000px;
    margin: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre{
    position: absolute;
    left: 94%;
}
.botao{
    border-radius: 25px;
    background-color: var(--claro);
    height: 60px;
    width: 200px;
    border: 2px solid var(--preto);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 5px 5px var(--sombra);
}
.botao:hover{
    background-color: var(--laranja-escuro);
}
.botaoVoltar{
    border-radius: 25px;
    background-color: var(--claro);
    height: 60px;
    width: 50px;
    border: 2px solid var(--preto);
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px var(--sombra);
    text-decoration: none;
    position: absolute;
}
.link{
    text-decoration: none;
    color: var(--preto);
    display: block;
    flex-wrap: wrap;
    gap: 100px;
    padding: 1px;
}
.linkBotao{
    text-decoration: none;
    color: var(--preto);
    position: absolute;
    right: 87%;
}
.textoSobre{
    background-color: var(--marrom);
    margin: 100px;
    width: 300px;
    height: 300px;
}
.sobreConjunto{
    display: flex;
    justify-content: center;
}

:root{
    --marrom: #8d5e41;
    --laranja: #f7be65;
    --claro: #ffdfc0;
    --vermelho: #bf6d60;
    --preto: #2f2935;
    --sombra: #2f2935a5;
    --laranja-escuro: #604a26;
}
